
<footer>
 <% if(logos == 'true'){ %>
 <style>
 .main-container{
    padding-bottom: 265px;
 }
 @media (max-width: 991px) {
  .main-container {
    padding-bottom: 295px;
  }
}
@media (max-width: 767px) {
  .main-container {
    padding-bottom: 440px;
  }
}
@media (max-width: 361px) {
  .main-container {
    padding-bottom: 500px;
  }
}
@media (max-width: 325px) {
  .main-container {
    padding-bottom: 580px;
  }
}
 </style>
    <div class="container-full" id="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12" id="footer-logos">
                    <a href="https://brotmanbaty.org/" target="_blank" rel="noopener"><img src="/images/logo_BrotmanBatyInstitute.svg" alt="Brotman Baty Institute"></a>
                    <a href="https://www.uwmedicine.org/" target="_blank" rel="noopener"><img src="/images/logo_UWMedicine.svg" alt="UW Medicine"></a>
                    <a href="https://www.fredhutch.org/en.html" target="_blank" rel="noopener"><img src="/images/logo_FredHutch.svg" alt="Fred Hutch"></a>
                    <a href="https://www.seattlechildrens.org/" target="_blank" rel="noopener"><img src="/images/logo_SeattleChildrens.svg" alt="Seattle Childrens"></a>
                </div>
               
            </div>
        </div>
    </div>
     <%}else{%>
     <style>
        .main-container{
            padding-bottom: 173px;
        }
        @media (max-width: 991px) {
        .main-container {
                padding-bottom: 295px;
            }
            }
            @media (max-width: 767px) {
            .main-container {
                padding-bottom: 440px;
            }
            }
            @media (max-width: 361px) {
            .main-container {
                padding-bottom: 500px;
            }
            }
            @media (max-width: 325px) {
            .main-container {
                padding-bottom: 580px;
            }
            }
    </style>
     <%}%>
    <div class="container-full" id="footer-bottom">
        <div class="container">
            <div class="row" id="footer-menu">
                <div class="col-md-2" id="footerLogo">
                    <a href="/" class="logo"><img src="<%= siteData[0].fields.logoWhite.fields.file.url %>" alt="Seattle Flu Study logo"></a>
                </div>
                <div class="col-md-10 align-right" id="footerMenu">
                    <ul>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/contact-us">Contact Us</a></li>
                        <%- siteData[0].fields.PrivacyInFooter ? ('<li><a href="/privacy">Privacy</a></li>'):(null) %>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-full" id="copyright-bar">
        <div class="container">
            <div class="row">
                <div class="col-12 align-center">
                    <p>Copyright <script type="text/javascript">document.write(new Date().getFullYear());</script> © by Brotman Baty Institute. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/6481951.js"></script>
<!-- End of HubSpot Embed Code -->
</body>
</html>
