
<% include ./partials/ads-header  {header: header, pageData: req.pageData, siteData: req.siteData, nav: nav, enroll: enroll} %>

<div class="ads-main container-full">
    <div class="container">
        <div class="row">
            <div class="ads-copy container">
                <div class="row">
                    <div class="col-md-5">
                        <img src="/images/tissue_placeholder.png">
                    </div>
                    <div class="col-md-7">
                        <!-- <h1>There’s Nothing Funny About the Flu</h1>
                        <h3>But there is something you can do about it</h3>
                        <p>The flu’s no laughing matter. We started the Seattle Flu Study because the flu makes life miserable for thousands of Seattleites every single year. And we want to know how to stop it. If you live in Seattle, please take our survey to see if you qualify for one of our studies. The more participants we have, the faster we can help.</p> -->
                        <h1><%= pageData[0].fields.title %></h1>
                        <%- md.render(pageData[0].fields.content) %>
                        
                        <!-- <% if(pageData[0].fields.ctaCopy){ %>
                            <a href="/enroll"><button class="green"><%= pageData[0].fields.ctaCopy %></button></a>
                        <% } %> -->
                        <div id="studyChoices">
                            <div class="study-choice">
                                <h3>Are you currently feeling sick?</h3>
                                <a href="/enroll" class="cta">Enroll today!</a>
                            </div>
                            <div class="divider"></div>
                            <div class="study-choice">
                                <h3>Not sick yet, but want to help?</h3>
                                <a href="#subscribe" class="cta rotate">Stay Informed</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <svg viewBox="0 0 1440 166" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Curve_Divider_Blue" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <path d="M1080,157.5025 C1260,157.5025 1380,105.000833 1440,-0.0025 L1440,166 L0,166 L0,157.5 L1080,157.5025 Z" id="Rectangle" fill="#095DA8"></path>
        </g>
    </svg>
</div>
<div class="container-full ads-form" id="subscribe">
    <div class="container">
        <div class="row">
         <% if(pageData[0].fields.emailSignup){ %>
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <h2>Sign up for email updates!</h2>
                <form id="adsForm">
                    <input type="text" id="emailInput" name="email" placeholder="Email Address (required)">
                    <input type="text" id="zipInput" name="zipcode" placeholder="Zip Code (required)">
                    <input type="submit" id="submitBtn" value="Submit">
                </form> 
                <p>We respect your privacy and will not give your email to any other organization. You can unsubscribe from updates at any time.</p>
            </div>
            <% } %>    
        </div>
    </div>
</div>

<% include ./partials/footer  {logos: logos} %>
