<% include ./partials/header {header: header, nav: nav, enroll: enroll} %>

<div class="secondary container">
    <h1><%= title %></h1>
    <div class="row">
        <div class="col-12">
            
            <p>Ads Page</p>
        </div>
    </div>
</div>

<% include ./partials/footer  {logos: logos}%>
