<% include ./partials/header %>

<div class="secondary container ssec">
    <div class="row">
        <div class="col-md-6" id="ssec-text">
            <%- md.render(pageData[0].fields.content1) %>
        </div>
        <div class="col-md-6" id="ssec-img">
            <%- md.render(pageData[0].fields.content2) %>
        </div>
    </div>
</div>

<% include ./partials/footer  %>
