
<% include ./partials/header {header: header, pageData: req.pageData, siteData: req.siteData} %>

<div class="container secondary">
    <div class="row">
        <div class="col-lg-12">
            <h1><%= pageData[0].fields.name %></h1>
            <%- md.render(pageData[0].fields.content) %>
        </div>
    </div>
</div>


<% include ./partials/footer  {logos: logos} %>
    
    
  