<% include ./partials/header  {header: header, pageData: req.pageData, siteData: req.siteData} %>

<div class="container">
    <h1><%= title %></h1>
    <div id="current">
        <!-- React app inserts itself here -->
    </div>
</div>

<script type="text/javascript" src="/current-bundle.js"></script>

<% include ./partials/footer  %>
