
<% include ./partials/header {header: header, pageData: req.pageData, siteData: req.siteData, nav: nav, enroll: enroll} %>
<div class="enroll container-full">
    <div class="container enrollWapper">
        <div class="row">
            <% if (siteData[0].fields.showScreeningQuestionaire) { %>
            <div class="col-lg-8 col-md-10 col-sm-12 offset-lg-2 offset-md-1">
                <div id="eligibilityMaintenance">
                    <%- md.render(siteData[0].fields.maintenanceMessaging) %>
                </div>
            </div>
    
            <% }else{ %>
            <div class="col-lg-10 col-sm-12 offset-lg-1" id="enrollMessage">
                <h2>Let's get started!</h2>
                <p>Thanks for your interest in the Seattle Flu Study. We just have a few questions to ask to see which part of our research is the best fit for you right now. We’ll ask about where you’re located (to make sure we can ship a study kit to you!), how you are feeling and any symptoms you might be experiencing, as well as a few other details to help us know what kind of participation is right for you. Ready? Let’s go!</p>
            </div>
            <div class="col-lg-8 col-md-10 col-sm-12 offset-lg-2 offset-md-1 form-wrap">
                <div id="eligibility">
                    <!-- form -->
                </div>
            </div>
           <% } %>
        </div>
    </div>
</div>
<script type="text/javascript" src="/dist/enroll-bundle.js"></script>
<link href="/stylesheets/enroll.css" type="text/css" rel="stylesheet">



<% include ./partials/footer  {logos: logos} %>
    
    
  
