<% include ./partials/header %>


<div class="container">
    <div class="row">
        <div class="col-12">
            <h1><%= title %></h1>
            <p>Whoops, something unexpected happened.  Sorry about that.</p>
            <hr>
            <p><%= error.status %> <%= message %></p>
            <pre><%= error.stack %></pre>
        </div>
    </div>
</div>

<% include ./partials/footer  %>
    
  


