
<% include ./partials/header {header: header, pageData: req.pageData, siteData: req.siteData} %>
<div class="container-full landing-header">
    <div class="container">
        <h1><%= pageData[0].fields.name %></h1>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0,100 0,0 104,100"/>
    </svg>
</div>
<div class="container landing-content">
    <div class="row">
        <div class="col-lg-12 landing-logos">
            <a href="https://www.uwmedicine.org/"><img src="/images/logo_UWMedicine.svg"></a>
            <a href="https://www.fredhutch.org/"><img src="/images/logo_FredHutch.svg"></a>
            <a href="https://www.seattlechildrens.org/"><img src="/images/logo_SeattleChildrens.svg"></a>
            <a href="https://brotmanbaty.org/"><img src="/images/logo_BrotmanBatyInstitute.svg"></a>
        </div>
        <div class="col-lg-8 landing-text secondary learnmore">
            <%- md.render(pageData[0].fields.content) %>
            <form id="learn-more">
<<<<<<< HEAD
                <input type="text" id="firstNameInput" name="firstName" placeholder="First Name (required)">
                <input type="text" id="lastNameInput" name="lastName" placeholder="Last Name (required)">
                <input type="text" id="emailInput" name="email" placeholder="Email Address (required)">
                <input type="text" id="zipInput" name="zipcode" placeholder="Zip Code (required)">
                <input type="submit" value="Submit">
=======
                <input type="text" id="firstNameInput" name="firstName" placeholder="First Name">
                <input type="text" id="lastNameInput" name="lastName" placeholder="Last Name">
                <input type="text" id="emailInput" name="email" placeholder="Email Address">
                <input id="submitBtn" type="submit" value="Submit">
>>>>>>> origin/dev
            </form> 
            <h5 id="signuperror">Sorry, there was an error submitting you form</h5>
                <h4 id="thank-you">Thank you! We'll be in touch with more information soon!</h4> 
            <%- md.render(pageData[0].fields.content2) %>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#learn-more').submit(function (event) {
            event.preventDefault()
            var formData = {
            "email_address": $('#emailInput').val(),
            "first_name": $('#firstNameInput').val(),
            "last_name": $('#lastNameInput').val(),
            "website_url": window.location.href
            }
            
            $(".error").remove();
<<<<<<< HEAD
            $("#firstNameInput").removeClass('error-input');
            $("#lastNameInput").removeClass('error-input');
            $("#emailInput").removeClass('error-input');
            $("#zipInput").removeClass('error-input');
=======
>>>>>>> origin/dev

            if (formData.first_name.length < 1) {
            $('#firstNameInput').css("border", "2px solid red")
            $('#firstNameInput').css("box-shadow", "0 0 5px red")
            $('#submitBtn').before('<span class="error">All fields are required</span>');
            return false;
            }
            if (formData.last_name.length < 1) {
            $('#lastNameInput').css("border", "2px solid red")
            $('#lastNameInput').css("box-shadow", "0 0 5px red")
            $('#submitBtn').before('<span class="error">All fields are required</span>');
            return false;
            }
            if (formData.email_address.length < 1) {
            $('#emailInput').css("border", "2px solid red")
            $('#emailInput').css("box-shadow", "0 0 5px red")
            $('#submitBtn').before('<span class="error">All fields are required</span>');
            return false;
            }
            if (formData.email_address.length < 1) {
            $('#zipInput').after('<div class="error">* This field is required</div>');
            $('#zipInput').addClass('error-input');
            return false;
            } else {
            var regEx = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            console.log(formData.email_address)
            var validEmail = regEx.test(formData.email_address);
            console.log(validEmail)
            if (!validEmail) {
                $('#emailInput').css("border", "2px solid red")
                $('#emailInput').css("box-shadow", "0 0 5px red")
                $('#submitBtn').before('<span class="error">All fields are required</span>');
                return false;
            }else{

            $.ajax({
            type: 'POST', 
            url: 'https://api.fluathome.org', 
            data: formData, 
            dataType: 'json', 
            encode: true
            })
            .done(function (data) {
                console.log(data["statusCode"])
                if (data["statusCode"] == '200'){
                $("#thank-you").css("display", "block")
                $("#learn-more").css("display", "none")  
                $("#signuperror").css("display", "none")
                }else{
                $("#thank-you").css("display", "none")
                $("#learn-more").css("display", "block")
                $("#signuperror").css("display", "block")
                }
            })

            }
            }


            
        })
        })
        
</script>


<% include ./partials/footer  {logos: logos} %>
    
    
  