<% include ./partials/header  %>

<div class="container p-5">
  <div class="row p-2">
    <div class="col-12">
      <h1 class="align-center">Coming Soon: Your Results!</h1>
    </div>
	</div>
	<div class="row justify-content-center p-5">
		<div class="col-lg-6 col-sm-12 align-center">
			<h4>
				In the near future you will be able to input your
				sample barcode and see the results of your research test.
			</h4>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-lg-6 col-sm-12 align-center">
			<h4>
				In the meantime, check out the current flu conditions:
			</h4>
			<a href="/current" class="btn btn-primary">Current Conditions</a>
		</div>
	</div>
</div>

<% include ./partials/footer  %>
