<% include ./partials/header {header: header, pageData: req.pageData, siteData: req.siteData, nav: nav, enroll: enroll} %>

<div class="secondary container">
    <h1><%= title %></h1>
    <div class="row">
        <div class="col-12">
            <p>Thank you so much for being an early participant in the Seattle
            Flu Study. As flu season begins to pick up, we will be processing
            study participant samples in batches. Your results may be available
            the week of November 18, 2019.</p>

            <p>We appreciate your patience and willingness to do your part to
            help make Seattle healthier for you and your family. And we hope
            you feel better very soon!</p>
        </div>
    </div>
</div>

<% include ./partials/footer  {logos: logos}%>
