
<% include ./partials/header {header: header, pageData: req.pageData, siteData: req.siteData, nav: nav, enroll: enroll } %>
<div class="container-full landing-header">
    <div class="container">
        <h1><%= pageData[0].fields.name %></h1>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0,100 0,0 104,100"/>
    </svg>
</div>
<div class="container landing-content">
    <div class="row">
        <div class="col-lg-12 landing-logos">
            <a href="https://www.uwmedicine.org/"><img src="/images/logo_UWMedicine.svg"></a>
            <a href="https://www.fredhutch.org/"><img src="/images/logo_FredHutch.svg"></a>
            <a href="https://www.seattlechildrens.org/"><img src="/images/logo_SeattleChildrens.svg"></a>
            <a href="https://brotmanbaty.org/"><img src="/images/logo_BrotmanBatyInstitute.svg"></a>
        </div>
        <div class="col-lg-8 landing-text secondary">
            <%- md.render(pageData[0].fields.content) %>
            <a href="/enroll"><button class="green">Join the Study</button></a>
            <% if(pageData[0].fields.content2){ %>
            <%- md.render(pageData[0].fields.content2) %>
            <% } %>
        </div>
    </div>
</div>




<% include ./partials/footer  {logos: logos} %>
    
    
  
