
<% include ./partials/header {header: header, pageData: req.pageData} %>
<div class="container">
    <h1><%= title %></h1>
    <div id="results">
        <!-- React app inserts itself here -->
    </div>
</div>




<% include ./partials/footer  %>
    
    
  