<% include ./partials/header  {header: header, pageData: req.pageData} %>

<div class="container">
    <div id="science">
        <!-- React app inserts itself here -->
    </div>
</div>

<script type="text/javascript" src="/science-bundle.js"></script>

<% include ./partials/footer  %>
