<% include ./partials/header  {header: header, pageData: req.pageData, siteData: req.siteData, nav: nav, enroll: enroll} %>

<div class="secondary container">
    <h1><%= pageData[0].fields.name %></h1>
    <div class="row">
        <div class="col-12">
            <p><%= pageData[0].fields.subhead %></p>
            <div><%- md.render(pageData[0].fields.content) %></div>
            <div><%- md.render(pageData[0].fields.content2) %></div>
            <div id="science">
                <!-- React app inserts itself here -->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/dist/science-bundle.js"></script>

<% include ./partials/footer  {logos: logos}%>
