<% include ./partials/header  {header: header, pageData: req.pageData, siteData: req.siteData, nav: nav, enroll: enroll } %>
<div class="thank-you secondary container">
  <div class="row">
    <div class="col-lg-8 col-xs-12 offset-lg-2">
      <h2><%= thankyouData.fields.headline %></h2>
      <h3><%= thankyouData.fields.subheader %></h3>
      <p><%- md.render(thankyouData.fields.dscription) %></p>
      <form id="ty-subscribe">
        <input type="text" id="firstNameInput" name="firstName" placeholder="First Name">
        <input type="text" id="lastNameInput" name="lastName" placeholder="Last Name">
        <input type="text" id="emailInput" name="Email" placeholder="Email Address">
        <h5 id="signup-error">Sorry, there was an error submitting you form</h5>
        <input type="submit" value="Submit">
      </form> 
      <h4 id="thank-you">THANK YOU</h4> 
      <h4>Additionally, you can help us get the word out about the flu study!</h4>
      <p>Click the links below to share with your networks:</p>
      <div class="ty-social">
        <a class="twitter custom share" id="twitter-url" title="Twitter Share" href="https://twitter.com/share?url=https://seattleflu.org"><img src="/images/twitter_logo.svg"></a>
        <a class="facebook custom share" id="facebook-url" title="Facebook Share" href="https://www.facebook.com/sharer.php?u=https://seattleflu.org"><img src="/images/facebook_logo.svg"></a>
        <a class="linkedin custom share" id="linkedin-url" title="Linkedin Share" href="https://www.linkedin.com/shareArticle?mini=true&url=https://seattleflu.org"><img src="/images/linkedin_logo.svg"></a>
        <a class="email custom " id="email-url" title="Email Share" href="mailto:?subject=SeattleFlu.org&body=Test Copy"><img src="/images/email_logo.svg"></a>
                                
      </div>
    </div>
  </div>
</div>
<script>
            $(function () {
                $('#ty-subscribe').submit(function (event) {
                  event.preventDefault()
                  var formData = {
                    "email_address": $('#emailInput').val(),
                    "first_name": $('#firstNameInput').val(),
                    "last_name": $('#lastNameInput').val(),
                    "website_url": window.location.href
                  }
                  //console.log(formData)
                  // process the form

                  
                  $.ajax({
                    type: 'POST', 
                    url: 'https://api.fluathome.org/', 
                    data: formData, 
                    dataType: 'json', 
                    encode: true
                  })
                    .done(function (data) {
                      console.log(data["statusCode"])
                      if (data["statusCode"]){
                        $("#thank-you").css("display", "block")
                        $("#ty-subscribe").css("display", "none")
                        // $(location).attr('href', '/sfs-thank-you.html')
                      }else{
                        $("#thank-you").css("display", "none")
                        $("#ty-subscribe").css("display", "block")
                        $("#signup-error").css("display", "block")
                      }
                    })
                })
              })
              
        </script>

<% include ./partials/footer  {logos: logos} %>
