<% include ./partials/header  {header: header, pageData: req.pageData, siteData: req.siteData, nav: nav, enroll: enroll } %>
<div class="container-full landing-header apple-landing-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-9">
        <h1><%= thankyouData.fields.headline %></h1>
      </div>
    </div>
    <div class="header-icon">
        <img src="/images/AppleRespiratoryStudyIcon.png">
    </div>
  </div>
  <div id="homeSVG">
      <svg viewBox="0 0 1440 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Curve_Divider_White" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <path d="M1080,157.502628 C1260,157.502628 1380,105.001752 1440,0 L1439.6621,200 L0,200 L0,157.500128 L1080,157.502628 Z" id="Rectangle" fill="#FFFFFF"></path>
          </g>
      </svg>
  </div>

</div>

<div class="thank-you landing-content container">
  <div class="row">
    <div class="col-lg-8 col-xs-12 offset-lg-2">
      <h3><%= thankyouData.fields.subheader %></h3>
      <p><%- md.render(thankyouData.fields.dscription) %></p>
      <% if(thankyouData.fields.showSubscribeForm) { %>
        <form id="ty-subscribe">
          <input type="text" id="firstNameInput" name="firstName" placeholder="First Name">
          <input type="text" id="lastNameInput" name="lastName" placeholder="Last Name">
          <input type="text" id="emailInput" name="Email" placeholder="Email Address">
          <h5 id="signuperror">Sorry, there was an error submitting you form</h5>
          <input id="submitBtn" type="submit" value="Submit">
        </form> 
        <h4 id="thank-you">
          <% if(thankyouData.fields.ThankYouMessage) { %>
            <%= thankyouData.fields.ThankYouMessage %>
          <% } else { %>
            Thank you! Your submission has been recorded.
          <% } %>
        </h4> 
      <% } %>
    </div>
  </div>
</div>
<script>
    $(function () {
      function getCookie(name) {
        let cookie = {};
        document.cookie.split(';').forEach(function(el) {
          let [k,v] = el.split('=');
          cookie[k.trim()] = v;
        })
      if(cookie[name] == undefined){
          return "none"
        }else{
        return cookie[name];
        }
      }

      function getCookieZip(name) {
        let cookie = {};
        document.cookie.split(';').forEach(function(el) {
          let [k,v] = el.split('=');
          cookie[k.trim()] = v;
        })
        if(cookie[name] == undefined || cookie[name].length <= 4){
          return "21044"
        }else{
        return cookie[name];
        }
      }
        $('#ty-subscribe').submit(function (event) {
            event.preventDefault()
            var formData = {
            "email_address": $('#emailInput').val(),
            "first_name": $('#firstNameInput').val(),
            "last_name": $('#lastNameInput').val(),
            "zip_code": getCookieZip('flu_zipcode'),
            "website_url": window.location.href,
            "utm_campaign": getCookie('utm_campaign'),
            "utm_medium": getCookie('utm_medium'),
            "utm_source": getCookie('utm_source'),
            "utm_content": getCookie('utm_content'),
            "form_name": "thankyou"
            }
            
            $(".error").remove();
            $("#firstNameInput").removeClass('error-input');
            $("#lastNameInput").removeClass('error-input');
            $("#emailInput").removeClass('error-input');
            $("#zipInput").removeClass('error-input');

            if (formData.first_name.length < 1) {
                $('#firstNameInput').addClass('error-input');
                $('#submitBtn').after('<span class="error">All fields are required</span>');
                return false;
            }
            if (formData.last_name.length < 1) {
                $('#lastNameInput').addClass('error-input');
                $('#submitBtn').after('<span class="error">All fields are required</span>');
                return false;
            }
            if (formData.email_address.length < 1) {
                $('#emailInput').addClass('error-input');
                $('#submitBtn').after('<span class="error">All fields are required</span>');
                return false;
            } else {
            var regEx = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            console.log(formData.email_address)
            var validEmail = regEx.test(formData.email_address);
            console.log(validEmail)
            if (!validEmail) {
                $('#emailInput').addClass('error-input');
                $('#submitBtn').after('<span class="error">A valid email is required</span>');
                return false;
            }else{

            $.ajax({
            type: 'POST', 
            url: 'https://kpwflowb0j.execute-api.us-east-1.amazonaws.com/flu-api', 
            data: formData, 
            dataType: 'json', 
            encode: true
            })
            .done(function (data) {
                console.log(data["statusCode"])
                if (data["statusCode"] == '200'){
                $("#thank-you").css("display", "block")
                $("#ty-subscribe").css("display", "none")  
                $("#signuperror").css("display", "none")
                }else{
                $("#thank-you").css("display", "none")
                $("#ty-subscribe").css("display", "block")
                $("#signuperror").css("display", "block")
                }
            })

            }
            }
        })
        })
        
</script>


<% include ./partials/footer  {logos: logos} %>
