/*** FONT STYLING ***/
body {
  font-family: "Roboto Condensed", Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #0a5ca8;
}
h1 {
  font-size: 48px;
  line-height: 57px;
}
h2 {
  font-size: 36px;
  line-height: 42px;
}
h3 {
  font-size: 24px;
  line-height: 36px;
}
h4 {
  font-size: 20px;
  line-height: 30px;
}
h5 {
  font-size: 16px;
  line-height: 24px;
}
h6 {
  font-size: 14px;
  line-height: 21px;
}
p {
  font-size: 16px;
  line-height: 24px;
}
a, a:hover {
  color: #1BAB4C;
}
.cta {
  font-weight: 700;
}
.cta:after {
  background-image: url("/images/cta_arrow.svg");
  background-size: 24px 15px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  width: 24px;
  height: 15px;
  content: "";
}
.cta:hover:after {
  margin-left: 15px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 57px;
  }
  h2 {
    font-size: 24px;
    line-height: 28px;
  }
  h3 {
    font-size: 20px;
    line-height: 30px;
  }
  h4 {
    font-size: 18px;
    line-height: 27px;
  }
}

/*** GLOBAL STYLES ***/
body, html {
  position: relative;
  height: 100%;
}
.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 265px; /* height of your footer */
}
@media (max-width: 991px) {
  .main-container {
    padding-bottom: 295px;
  }
}
@media (max-width: 767px) {
  .main-container {
    padding-bottom: 380px;
  }
}
@media (max-width: 361px) {
  .main-container {
    padding-bottom: 580px;
  }
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
 }
button {
  outline: none !important;
}
.clearfix {
  clear: both;
}


/*** FORM ELEMENTS ***/
input[type=text], input[type=tel], textarea {
  border: 2px solid #0A5CA8;
  border-radius: 5px;
  padding: 14px 15px;
  outline: none;
}
input[type=submit] {
  text-transform: uppercase;
  background-color: #0A5CA8;
  border-radius: 25px;
  padding: 9.5px 37px;
  border: none;
  color: #fff;
  outline: none;
  font-weight: 700;
}
input[type=submit]:disabled {
  background-color: grey;
}


/*** FOOTER ***/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer #footer-top {
  background-color: #EAECF0;
  padding: 30px 0;
}
footer #footer-bottom {
  background-color: #4A515F;
}
#footer-logos {
  display: flex;
  justify-content: space-between;
}
#footer-logos img {
  max-height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
footer ul {
  margin-top: 40px;
  margin-bottom: 40px;
}
#footer-menu .logo img{
  margin-top: 40px;
}
#footer-menu a {
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
}
footer #copyright-bar {
  background-color: #2D3139;
  color: #ffffff;
  padding: 12px 0;
}
#copyright-bar p {
  font-size: 12px;
  margin-bottom: 0;
}
@media (max-width:991px) {
  #footer-logos {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #footer-logos img {
    flex-basis: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (max-width:767px) {
  #footer-logos img {
    flex-basis: 50%;
  }
}


/*** HEADER ***/
.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  top: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
}
.show + .overlay {
  visibility: visible;
  opacity: 1;
}
.collapsing {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  visibility: hidden;
}
header.light {
  background-color: #fff;
  border-bottom: 2px solid #eaecf0;
  z-index: 2;
}
header.dark {
  background-color: transparent;
  z-index: 2;
}
header .logo {
  margin: 24px 0;
}
.logo img {
  height: 40px;
}
header.light .custom-toggler .navbar-toggler-icon {
  background-image: url("/images/nav_hamburger_dark.svg");
}
header.dark .custom-toggler .navbar-toggler-icon {
  background-image: url("/images/nav_hamburger_light.svg");
}
.custom-toggler.navbar-toggler {
  border: none;
} 
header .navbar-nav {
  margin: 25px 0 25px auto;
}
header .navbar-nav.join-the-study {
  margin-left: 0;
}
header .navbar-nav li, .mobile-nav li, footer li {
  font-weight: 700;
  font-size: 16px;
}
header .navbar-nav li, footer li {
  display: inline-block;
  margin: 10.5px 0 10.5px 40px;
}
header.light .navbar-nav li, .mobile-nav li {
  color: #4A515F;
}
header.dark .navbar-nav li {
  color: #ffffff;
}
header.light .nav-item a, .mobile-nav li a {
  color: #4A515F;
}
header.dark .nav-item a {
  color: #ffffff;
}
header .nav-item button, .mobile-nav ul button {
  margin-left: 40px;
  color: #fff;
  padding: 5px 15px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 25px;
}
header .nav-item button:hover, .mobile-nav ul button:hover {
  background-color: #1BAB4C !important;
  box-shadow: 0 0 0 4px #1BAB4C;
  border: 2px solid #1BAB4C !important;
  text-decoration: underline;
}
.mobile-nav ul button {
  margin-left: 0;
}
header.light .nav-item button {
  background-color: #1BAB4C;
  border: 2px solid #1BAB4C;
}
header.dark .nav-item button {
  background-color: transparent;
  border: 2px solid #fff;
}
.mobile-nav {
  background-color: #fff;
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  height: 100%;
}
.navbar-collapse {
  padding: 60px 0 60px 60px;
  height: 100%;
}
.mobile-nav ul {
  list-style: none;
  padding-left: 0;
}
.mobile-nav li {
  margin-bottom: 40px;
}
.mobile-nav .navbar-toggler {
  padding: 0;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.mobile-nav .navbar-close-icon {
  background-image: url("/images/nav_close.svg");
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background-size: 100% 100%;
  position: absolute;
  top: 20px;
  right: 20px;
}
@media (min-width:992px) and (max-width:1199px) {
  header .navbar-nav li {
    margin: 8.5px 0 8.5px 20px;
  }
  header .nav-item button {
    margin-left: 20px;
  }
}
@media (max-width:992px) {
  header .logo {
    margin: auto 0;
  }
  .navbar-nav {
    display: none;
  }
  header.navbar {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}
@media (min-width: 992px) {
  .mobile-nav {
    display: none;
  }
  .overlay {
    display: none;
  }
}


/*** SECONDARY PAGE GLOBALS ***/
.secondary {
  padding-top: 75px;
  padding-bottom: 75px;
}
.secondary h3 {
  color: #4A515F;
  margin-top: 22px;
}
.secondary input[type=text], .secondary input[type=tel], .secondary input[type=submit] {
  margin-top: 12px;
}
.secondary ul {
  list-style: none;
  padding-left: 30px;
}
.secondary ul li::before {
  content: "\2022";
  color:#0A5CA8;
  font-weight: bold;
  display: inline-block;
  width: 1em; 
  margin-left: -1em;
  line-height: 25px;
}
button.green {
  color: #fff;
  padding: 8px 30px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 25px;
  background-color: #1BAB4C;
  border: 2px solid #1BAB4C;
}
button.green:hover {
  box-shadow: 0 0 0 2px #1BAB4C;
  text-decoration: underline;
}


/*** CALLOUTS ***/
.study-callout, .home-callout {
  background-image: url(/images/BG_Blue_sm.png);
  background-size: cover;
}
.study-callout h3 i, .home-callout h3 i {
  font-weight: 700;
}
.study-callout {
  text-align: center;
  padding: 50px 30px;
}
.home-callout {
  padding: 50px 75px;
  margin-top: 75px;
}
.study-callout h3, .home-callout h3 {
  margin: 0;
  color: #fff;
  text-align: left;
}
.study-callout h3 {
  padding-right: 15px;
}
.study-callout h3, .home-callout h3 {
  display: inline;
}
.study-callout a, .home-callout a {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
.study-callout a, .home-callout a {
  float: right;
}
@media (max-width: 1199px) {
  .study-callout {
    display: block;
    text-align: center;
    margin-top: 50px;
  }
  .study-callout {
    padding: 30px;
  }
  .study-callout h3 {
    display: block;
    padding-bottom: 20px;
    padding-right: 0;
  }
  .study-callout a {
    float: none;
  }
}
@media (max-width: 991px) {
  .home-callout {
    text-align: center;
    margin-top: 50px;
    padding: 30px;
  }
  .home-callout h3 {
    display: block;
    margin-bottom: 30px;
  }
  .home-callout a {
    float: none;
  }
}
@media (max-width: 767px) {
  .study-callout {
    padding: 30px 15px;
  }
}


/*** HOME PAGE ***/
.home-header {
  position: relative;
  height: 650px;
  background-image: url(/images/BG_Blue.png);
  background-size: cover;
  top: -112px;
}
.home-header h1 {
  color: #fff;
  margin-bottom: 30px;
}
.home-header p {
  color: #fff;
  margin-bottom: 0;
}
.home-header button {
  margin-top: 30px;
}
.home-header svg {
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 7vw;
  /* set height to pixels if you want angle to change with screen width */
}
.nav-item button:hover{
  cursor: pointer;
}
.nav-item.active a, header.light .nav-item a:hover {
  color: #0A5CA8 !important;
  padding-bottom: 4px;
  border-bottom: 2px solid #0A5CA8;
}
header.dark .nav-item a:hover {
  color: #fff !important;
  padding-bottom: 4px;
  border-bottom: 2px solid #fff;
}
.nav-item a:hover {
  text-decoration: none;
}
.home-logos {
  margin-top: 165px;
  display: flex;
  justify-content: space-between;
}
.home-logos img {
  margin-bottom: 30px;
  max-height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
.home-logos img:first-child {
  margin-left: 0;
}
.home-content {
  margin-top: -68px;
  margin-bottom: 75px;
}
#help-left p {
  margin-top: 15px;
  margin-bottom: 30px;
}
#help-left img {
  display: block;
  margin-bottom: 50px;
}
h1.number {
  font-size: 72px;
  line-height: 72px;
  margin-right: 30px;
  margin-left: 30px;
}
#help-right h4 {
  margin-bottom: 0;
}
.step {
  margin-bottom: 30px;
  display: flex;
}
.step:first-child {
  margin-top: 52px;
}
.step:nth-child(4) {
  margin-bottom: 0;
}
#home-map {
  margin-top: 75px;
  margin-bottom: 75px;
}
#map-left {
  padding: 50px 40px 50px 50px;
  background-color: #EAECF0;
}
#map-left p {
  margin-top: 15px;
  margin-bottom: 30px;
}
#map-right {
  background-position: center;
  background-size: cover;
}
#flu101-left p {
  margin-top: 15px;
  margin-bottom: 18px;
}
#flu101-right h4 {
  margin-bottom: 0;
  margin-top: 48px;
}
@media (min-width: 992px) {
  #help-right .cta {
    display: none;
  }
  #flu101-right .cta {
    display: none;
  }
}
@media (max-width: 991px) {
  .home-content {
    margin-bottom: 50px;
  }
  h1.number {
    margin-left: 0;
    margin-bottom: 20px;
  }
  #map-right {
    height: 225px;
  }
  #help-left .cta {
    display: none;
  }
  #help-left img {
    margin-bottom: 30px;
  }
  .step:first-child {
    margin-top: 0;
  }
  #home-map {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #map-left {
    padding: 50px 15px;
  }
  #flu101-left .cta {
    display: none;
  }
  #flu101-left p {
    margin-bottom: 0;
  }
  #flu101-right h4 {
    margin-top: 30px;
     margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .home-header {
    height: 750px;
  }
  .home-logos {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .home-logos img {
    max-height: 30px;
  }
  .home-logos img:first-child {
    margin-left: 10px;
  }
}
@media (max-width: 440px) {
  .home-logos img {
    flex-basis: 35%;
    margin-left: 0;
    margin-right: 0;
  }
  .home-header {
    height: 800px;
  }
}

/*** FAQ PAGE ***/
#thank-you{
  display:none;
}
#signuperror{
  display: none;
}
#faq-subscribe input[type=text] {
  width: 100%;
}
.faq-questions {
  padding-left: 30px;
}
@media (max-width: 992px) {
  .faq .col-xs-12:first-child {
    order: 2;
  }
  .faq-questions {
    padding-left: 15px;
    padding-bottom: 55px;
    padding-top: 20px;
    order: 1;
  }
  .faq h3 {
    margin-top: 0;
  }
}
#faq-accordion .card {
  border-radius: none;
  border: none;
}
#faq-accordion button {
  padding: 0;
  text-transform: initial;
}
#faq-accordion .btn {
  white-space: normal;
  text-align: left;
}
#faq-accordion .card-body {
  padding: 15px 0 40px 0;
}
.faq-heading, .faq-heading button {
  width: 100% !important;
}
#faq-accordion h5 {
  margin-bottom: 20px;
}
.faq-heading button:before {
  content: "";
  background-image: url("/images/dropdown_arrow.svg");
  background-size: 17px 9.5px;
  display: inline-block;
  transition: all 0.5s;
  width: 17px;
  height: 9.5px;
  float: right;
  margin-top: 8px;
}
.faq-heading button[aria-expanded=true]:before {
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 transform: rotate(180deg);
}

/*** THANK YOU PAGES ***/
.thank-you h4 {
  margin-bottom: 15px;
  padding-top: 30px;
  clear: both;
}
#ty-subscribe input[type=text], #ty-subscribe input[type=tel], #learn-more input[type=text], #learn-more input[type=tel], #info input[type=tel], #info input[type=text] {
  margin-right: 15px;
}
#firstNameInput {
  float: left;
  width: 30%;
}
#lastNameInput {
  clear: both;
  width: 30%;
}
#emailInput, #phoneInput, #zipInput {
  width: calc(60% + 15px);
  display: block;
}
#ty-subscribe input[type=submit], #learn-more input[type=submit], #info input[type=submit] {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  float: left;
}
#ty-subscribe input[type=submit]:hover, #learn-more input[type=submit]:hover, #info input[type=submit]:hover {
  text-decoration: underline;
}

.ty-social a {
  margin-right: 15px;
}
.error {
  margin-top: 10px;
  color: rgba(255,87,0,1);
  font-size: 14px;
  display: block;
  text-align: right;
  max-width: calc(60% + 10px);
}
.error-input {
  border: 2px solid rgba(255,87,0,1) !important;
  box-shadow: 0 0 5px rgba(255,87,0,0.5);
}
.disclaimer {
  clear: both;
  padding-top: 30px;
}
@media (max-width: 991px) {
.thank-you .col-xs-12:first-child {
    margin-bottom: 75px;
  }
}
@media (max-width: 767px) {
  .error {
    float: none;
    max-width: none;
    margin-right: 5px;
  }
  #firstNameInput {
    float: left;
    width: calc(50% - 7.5px);
  }
  #lastNameInput {
    clear: both;
    width: calc(50% - 7.5px);
    margin-right: 0 !important;
  }
  #emailInput, #phoneInput, #zipInput {
    width: 100%;
  }
}

/*** FIND A KIOSK PAGE ***/
.kiosk-item {
  flex-basis: 50%;
  margin-bottom: 20px;
  display: flex;
}
.kiosk-item img {
  margin-right: 15px;
  margin-bottom: auto;
  margin-top: -8px;
}
.kioskNumber {
  /* content: '1'; */
  font-size: 20px;
  color: #fff;
  position: absolute;
  font-weight: 700;
  margin-left: 9.5px;
  margin-top: -6px;
}
.kiosk iframe {
  margin-bottom: 75px;
}
.kioskContent{
  margin-bottom: 40px;
  margin-top: 20px;
}
.map-wrapper {
  position: sticky;
  top: 60px;
}
.kiosk-sub, .kiosk-sub-mobile {
  margin-bottom: 30px;
  padding-right: 30px;
}
.gm-style .gm-style-iw-c {
  border-radius: 0 !important;
  padding: 15px 15px 0 15px !important;
  max-width: 250px !important;
}
.gm-ui-hover-effect {
  top: 0 !important;
  right: 0 !important;
}
#map {
  width: 100%;  /* The width is the width of the web page */
  margin-bottom: 75px;
  height: 65vh;
  min-height: 400px;
 }
@media (max-width: 767px) {
  .kiosk-list {
    display: block;
  }
  .kiosk-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (max-width: 991px) {
  .kiosk iframe {
    margin-bottom: 50px;
    margin-top: 30px;
  }
  .kiosk .study-callout {
    margin-top: 50px;
  }
  .kiosk-list, .kiosk-text, .kiosk-sub {
    display: none;
  }
}
@media (min-width: 992px) {
  .kiosk-list-mobile, .kiosk-text-mobile, .kiosk-sub-mobile {
    display: none;
  }
}


/*** ENROLL ***/
.enroll {
  background-color: #0A5CA8;
  min-height: 600px;
}


/*** LANDING PAGES ***/
.landing-header {
  position: relative;
  height: 325px;
  background-image: url(/images/BG_Blue.png);
  background-size: cover;
  top: -112px;
}
.landing-header h1 {
  color: #fff;
  padding-top: 140px;
}
.landing-header svg {
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 7vw;
  /* set height to pixels if you want angle to change with screen width */
}
.landing-content {
  margin-top: -108px;
  padding-top: 30px;
}
.landing-logos a {
  margin-right: 75px;
}
.landing-logos a:last-child {
  margin-right: 0;
}
.landing-text {
  padding-top: 60px;
}
.landing-text p, 
.landing-text ul li,
.landing-text ol li {
  font-size: 18px;
  line-height: 25px;
}
.landing-text ul li {
  /* font-weight: bold; */
  /* font-size: 18px; */
}
.landing-text button {
  margin-top: 34px;
  margin-bottom: 34px;
}
.landing-text #ty-subscribe, .landing-text #learn-more, .landing-text #info {
  margin-top: 36px;
  margin-bottom: 50px;
}
@media (max-width: 991px) {
  .landing-logos {
    display: flex;
    flex-wrap: wrap;
  }
  .landing-logos a {
    margin-bottom: 45px;
  }
  .landing-text {
    padding-top: 15px;
  }
}
@media (max-width: 767px) {
  .landing-logos {
    justify-content: space-evenly;
  }
  .landing-logos a {
    margin-right: 0;
    flex-basis: 50%;
    text-align: center;
    margin-bottom: 45px;
  }
  .landing-text {
    padding-top: 0;
    margin-top: -15px;
  }
}
@media (max-width: 440px) {
  .landing-logos a {
    flex-basis: 40%;
    margin-left: auto;
    margin-right: auto;
  }
  .landing-logos a:last-child {
    margin-right: auto;
  }
  .landing-logos {
    justify-content: space-between;
  }
}
.signup-error{
display: none;
}



/*** SSEC ***/
#ssec-img img {
  width: 100%;
}
@media (max-width: 767px) {
  #ssec-text {
  }
  #ssec-img {
    margin-top: 15px;
  }
}


/*** ADS ***/
.ads-copy {
  padding-top: 75px;
  padding-bottom: 125px;
}
.ads-copy img {
  max-height: 540px;
  width: 100%;
}
.ads-copy h1, .ads-copy h3 {
  margin-bottom: 30px;
}
.ads-copy button {
  margin-top: 30px;
  padding: 13px 30px;
  font-size: 20px;
  border-radius: 30px;
}
.ads-form {
  background-color: #095DA8;
  padding-top: 75px;
  padding-bottom: 75px;
}
.ads-form h2 {
  color: #fff;
  margin-bottom: 30px;
}
#adsForm input[type=text] {
  margin-bottom: 20px;
  padding: 25px 15px;
}
#adsForm input[type=submit] {
  margin-top: 10px;
  padding: 13px 30px;
  font-size: 20px;
  border-radius: 30px;
  border: 2px solid #fff;
  margin-bottom: 30px;
}
.ads-form p {
  color: #fff;
}
#adsForm #firstNameInput, #adsForm #lastNameInput {
  width: 48%;
}
#adsForm #emailInput, #adsForm #zipInput {
  width: 100%;
}
#adsForm #lastNameInput {
  float: right;
  clear: none;
}
@media (max-width: 767px) {
  .ads-copy {
    padding-top: 15px;
    padding-bottom: 50px;
  }
  .ads-copy h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 35px;
  }
  .ads-copy h3 {
    margin-bottom: 20px;
  }
  .ads-form {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}


.ads-main{
  /* border-bottom-right-radius: 300px; */
  border-radius: 600px/300px;
  border-top-right-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  background-color: #fff;
}
.mainAdsSection{
  background-color: #095DA8;
}

header.light .nav-item .adsNav, .mobile-nav li .adsNav{
  font-size: 14px;
  color:#1BAB4C;
}

header.light .nav-item .adsNav::before {
  content: "";
  background-image: url(/images/nav-arrow.png);
  background-size: 20px 12px;
  display: inline-block;
  transition: all 0.5s;
  width: 20px;
  height: 12px;
  float: left;
  margin-top: 6px;
  margin-right: 5px;
}