/*** FONT STYLING ***/
body {
  font-family: "Roboto Condensed", Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #0a5ca8;
}
h1 {
  font-size: 48px;
  line-height: 57px;
}
h2 {
  font-size: 36px;
  line-height: 42px;
}
h3 {
  font-size: 24px;
  line-height: 36px;
}
h4 {
  font-size: 20px;
  line-height: 30px;
}
h5 {
  font-size: 16px;
  line-height: 24px;
}
h6 {
  font-size: 14px;
  line-height: 21px;
}
p {
  font-size: 16px;
  line-height: 24px;
}
a, a:hover {
  color: #1BAB4C;
}
.cta {
  font-weight: 700;
}
.cta:after {
  background-image: url("/images/cta_arrow.svg");
  background-size: 24px 15px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  width: 24px;
  height: 15px;
  content: "";
}
@media (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 57px;
  }
  h2 {
    font-size: 24px;
    line-height: 28px;
  }
  h3 {
    font-size: 20px;
    line-height: 30px;
  }
  h4 {
    font-size: 18px;
    line-height: 27px;
  }
}

/*** GLOBAL STYLES ***/
.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
button {
  outline: none !important;
  background-color: #1BAB4C;
  border: 2px solid #1BAB4C;
  color: #fff;
  padding: 7px 15px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 25px;
}


/*** FORM ELEMENTS ***/
input[type=text], textarea {
  border: 2px solid #0A5CA8;
  border-radius: 5px;
  padding: 14px 15px;
  outline: none;
}
input[type=submit] {
  text-transform: uppercase;
  background-color: #0A5CA8;
  border-radius: 25px;
  padding: 9.5px 37px;
  border: none;
  color: #fff;
  outline: none;
  font-weight: 700;
}


/*** FOOTER ***/
footer #footer-top {
  background-color: #EAECF0;
  padding: 30px 0;
}
footer #footer-bottom {
  background-color: #4A515F;
}
#footer-logos {
  display: flex;
  justify-content: space-between;
}
#footer-logos img {
  max-height: 40px;
}
footer ul {
  margin-top: 40px;
  margin-bottom: 40px;
}
#footer-menu .logo img{
  margin-top: 30px;
}
#footer-menu a {
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
}
footer #copyright-bar {
  background-color: #2D3139;
  color: #ffffff;
  padding: 12px 0;
}
#copyright-bar p {
  font-size: 12px;
  margin-bottom: 0;
}
@media (max-width:991px) {
  #footer-logos {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #footer-logos img {
    flex-basis: 30%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (max-width:767px) {
  #footer-logos img {
    flex-basis: 50%;
  }
}


/*** HEADER ***/
.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  top: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
}
.show + .overlay {
  visibility: visible;
  opacity: 1;
}
.collapsing {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  visibility: hidden;
}
header.light {
  background-color: #fff;
  border-bottom: 2px solid #eaecf0;
}
header.dark {
  background-color: #0A5CA8;
}
header .logo {
  margin: auto 0;
}
.logo img {
  max-height: 40px;
}
header.light .custom-toggler .navbar-toggler-icon {
  background-image: url("/images/nav_hamburger_dark.svg");
}
header.dark .custom-toggler .navbar-toggler-icon {
  background-image: url("/images/nav_hamburger_light.svg");
}
.custom-toggler.navbar-toggler {
  border: none;
} 
header .navbar-nav {
  margin: 25px 0 25px auto;
}
header .navbar-nav li, .mobile-nav li, footer li {
  font-weight: 700;
  font-size: 14px;
}
header .navbar-nav li, footer li {
  display: inline-block;
  margin: auto 0 auto 40px;
}
header.light .navbar-nav li, .mobile-nav li {
  color: #4A515F;
}
header.dark .navbar-nav li {
  color: #ffffff;
}
header.light .nav-item a, .mobile-nav li a {
  color: #4A515F;
}
header.dark .nav-item a {
  color: #ffffff;
}
header .nav-item button, .mobile-nav ul button {
  margin-left: 40px;
}
.mobile-nav ul button {
  margin-left: 0;
}
header.dark .nav-item button {
  background-color: transparent;
  border: 2px solid #fff;
}
.mobile-nav {
  background-color: #fff;
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  height: 100%;
}
.navbar-collapse {
  padding: 60px 0 60px 60px;
  height: 100%;
}
.mobile-nav ul {
  list-style: none;
  padding-left: 0;
}
.mobile-nav li {
  margin-bottom: 40px;
}
.mobile-nav .navbar-toggler {
  padding: 0;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.mobile-nav .navbar-close-icon {
  background-image: url("/images/nav_close.svg");
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background-size: 100% 100%;
  position: absolute;
  top: 20px;
  right: 20px;
}
@media (min-width:768px) and (max-width:1199px) {
  header .navbar-nav li, header .nav-item button {
    margin: auto 0 auto 20px;
  }
}
@media (max-width:767px) {
  .navbar-nav {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
  .overlay {
    display: none;
  }
}


/*** SECONDARY PAGE GLOBALS ***/
.secondary {
  padding-top: 75px;
  padding-bottom: 75px;
}
h3 {
  color: #4A515F;
  margin-top: 22px;
  margin-bottom: 30px;
  padding-right: 30px;
}
.secondary input[type=text], .secondary input[type=submit] {
  margin-top: 12px;
}
.study-callout {
  background-image: url(/images/BG_Blue_sm.png);
  background-size: cover;
  padding: 30px;
  text-align: center;
  display: flex;
}
.study-callout h3 {
  margin: 0;
  color: #fff;
  text-align: left;
}
.study-callout a {
  flex-basis: 45%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
}
@media (max-width: 1199px) {
  .study-callout {
    display: block;
  }
  .study-callout h3 {
    padding-bottom: 20px;
    padding-right: 0;
  }
}


/*** FAQ PAGE ***/
#faq-subscribe input[type=text] {
  width: 100%;
}
.faq-questions {
  padding-left: 30px;
}
@media (max-width: 992px) {
  .faq .col-xs-12:first-child {
    order: 2;
  }
  .faq-questions {
    padding-left: 15px;
    padding-bottom: 55px;
    padding-top: 20px;
    order: 1;
  }
  .faq h3 {
    margin-top: 0;
  }
}
#faq-accordion .card {
  border-radius: none;
  border: none;
}
#faq-accordion button {
  padding: 0;
  text-transform: initial;
}
#faq-accordion .btn {
  white-space: normal;
  text-align: left;
}
#faq-accordion .card-body {
  padding: 15px 0 40px 0;
}
.faq-heading, .faq-heading button {
  width: 100% !important;
}
#faq-accordion h5 {
  margin-bottom: 20px;
}
.faq-heading button:before {
  content: "";
  background-image: url("/images/dropdown_arrow.svg");
  background-size: 17px 9.5px;
  display: inline-block;
  transition: all 0.5s;
  width: 17px;
  height: 9.5px;
  float: right;
  margin-top: 8px;
}
.faq-heading button[aria-expanded=true]:before {
 -webkit-transform: rotate(180deg);
 -moz-transform: rotate(180deg);
 transform: rotate(180deg);
}

/*** THANK YOU PAGES ***/
.thank-you h4 {
  margin-bottom: 30px;
}
#ty-subscribe {
  margin-bottom: 75px;
}
#ty-subscribe input[type=text] {
  width: 60%;
  margin-right: 30px;
}
.ty-social a {
  margin-right: 15px;
}
@media (max-width: 991px) {
.thank-you .col-xs-12:first-child {
    margin-bottom: 75px;
  }
}

/*** FIND A KIOSK PAGE ***/
.kiosk-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.kiosk-item {
  flex-basis: 50%;
  margin-bottom: 20px;
  display: flex;
}
.kiosk-item:nth-child(2n - 1) {
  padding-right: 7.5px;
}
.kiosk-item:nth-child(2n) {
  padding-left: 7.5px;
}
.kiosk-item img {
  margin-right: 15px;
  margin-bottom: auto;
  margin-top: -8px;
}
.kiosk-item:before {
  content: '1';
  font-size: 20px;
  color: #fff;
  position: absolute;
  font-weight: 700;
  margin-left: 9.5px;
  margin-top: -6px;
}
.kiosk iframe {
  margin-bottom: 75px;
}
@media (max-width: 767px) {
  .kiosk-list {
    display: block;
  }
  .kiosk-item {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media (max-width: 991px) {
  .desktop-map {
    display: none;
  }
  .kiosk iframe {
    margin-bottom: 50px;
    margin-top: 30px;
  }
  .kiosk .study-callout {
    margin-top: 50px;
  }
}
@media (min-width: 992px) {
  .mobile-map {
    display: none;
  }
}